@import "tailwindcss";

@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
/* Define the 'Inter' font and apply it to the body */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

div#e {
  @apply bg-white dark:bg-zinc-900 border border-zinc-300 dark:border-zinc-700 rounded-lg p-6 shadow-md;
}

body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Define colors for light and dark themes using CSS variables */
:root {
  --bg-color-light: #f8f9fa;
  --text-color-light: #212529;
  --container-bg-light: #ffffff;
  --border-color-light: #dee2e6;

  --bg-color-dark: #121212;
  --text-color-dark: #e0e0e0;
  --container-bg-dark: #1e1e1e;
  --border-color-dark: #3a3a3a;

  @apply transition-colors duration-300;
}

@theme {
  --color-white-50: /*--text-color-dark*/ oklch(97.5% 0.02 261);
}

/* Set styles for the light theme */
.light {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}
/*
.light .bg-container {
  background-color: var(--container-bg-light);
  border-color: var(--border-color-light);
}
*/
/* Set styles for the dark theme */
.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}
/*
.dark .bg-container {
  background-color: var(--container-bg-dark);
  border-color: var(--border-color-dark);
}
  */

/* Style for code blocks */
pre {
  background-color: rgba(0,0,0,0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

code {
  font-family: monospace;
}

ul.nested {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 4px;
}

select,
::picker(select) {
  appearance: base-select;
}

select > option {
  @apply bg-white dark:bg-zinc-800 px-2 py-1 text-black dark:text-white-50;
}

::picker(select) {
  @apply border rounded-2xl mt-2;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}
@starting-style {

  ::picker(select):popover-open {
    opacity: 0;
  }
}

a {
  @apply text-blue-600 dark:text-blue-400 hover:underline;
}

p {
  @apply mb-4;
}

figcaption {
  @apply mt-2 text-center text-sm;
}